*.iml
.gradle
build
!gradle/wrapper/gradle-wrapper.jar
local.properties
.idea
captures
.externalNativeBuild
.cxx
*.jks
*.keystore
keystore.properties
.DS_Store
Thumbs.db
.env
!*.png
!*.jpg
!*.jpeg
!*.webp
!*.gif
!*.svg
!*.bmp
